@charset "utf-8";

body {
  background-color: #f6f6f6;
  margin: 20px 20px;
  padding: 0px;
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

/* ________PAGE CONTENT________ */
#wrap {
  width: 1000px;
  overflow: hidden;
/*  margin-left: auto;
  margin-right: auto;*/
}

#navPanel {
  float: left;
  text-decoration: none;
  width: 140px;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

#content {
  overflow: hidden;
  padding: 25px;
}

#profileImg {
  height: 128px;
  width: 128px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
#profileImg:hover {
  background-color: #f98030;
}

/* ________LINK CLASSES________ */
.miscLink {
  text-decoration: none;
  background-image: -webkit-linear-gradient(90deg, #247ff2, #97a5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.miscLink:visited {
  text-decoration: none;
}
.miscLink:hover {
  border-bottom: 1px solid #97a5ff;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
}
.navLink:visited {
  text-decoration: none;
}
.navLink:hover{
  border-bottom: 1px solid #f98030;
  text-decoration: none;
}

/* ________STYLING________ */
.header {
  font-size: 36px;
  padding-left: 50px;
}

.lightGradient {
  background-image: -webkit-linear-gradient(90deg, #f35525, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
