@charset "utf-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/css/Roboto-Light.ttf');
}

body {
  background-color: #f6f6f6;
  margin: 20px 20px;
  padding: 0px;
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

/* ________PAGE CONTENT________ */
#wrap {
  width: 1200px;
  overflow: hidden;
}

#navPanel {
  vertical-align:middle;
  float: left;
  text-decoration: none;
  width: 136px;
  padding: 10px;
  background-color: #efefef;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

#content {
  overflow: hidden;
  padding: 25px;
  text-align: center;
}


#profileImg {
  height: 128px;
  width: 128px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
#profileImg:hover {
  background-color: #247FF2;
}

.header {
  font-size: 36px;
  padding-bottom: 20px;
}

.select {
  padding: 5px;
  border: 1px solid #247FF2;
  background-color: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.select:hover {
  filter: brightness(96%);
  -webkit-filter: brightness(96%);
  -moz-filter: brightness(96%);
  -o-filter: brightness(96%);
  -ms-filter: brightness(96%);
}

.selected {
  background-color: #247FF2;
  color: #fff;
}

.right {
  border-left: none;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.left {
  border-right: none;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#selDiv {
  padding-bottom: 75px;
}

#contCl {
  clear: left;
}

.grayscale {
  display: inline-block;
  vertical-align: middle;
}
.grayscale img
{
  float: left;
  width: 64px;
  padding: 20px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grayscale img:hover
{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* ________LINK CLASSES________ */
.miscLink {
  text-decoration: none;
  color: #F98030;
  background-image: -webkit-linear-gradient(90deg, #F35525, #FEAB3A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.miscLink:visited {
  text-decoration: none;
}
.miscLink:hover {
  border-bottom: 1px solid #f98030;
  text-decoration: none;
}

.navLink {
  color: #247FF2;
  text-decoration: none;
}
.navLink:visited {
  text-decoration: none;
}
.navLink:hover {
  text-decoration: none;
}

.lightGradient {
  color: #247FF2;
  background-image: -webkit-linear-gradient(90deg, #247FF2, #97A5FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ________DEVICE SCALING________ */
@media (max-width: 1240px) {
  #wrap {
    width: 100%;
  }
  .header {
    padding-left: 50px;
    text-align: left;
  }
}
@media (max-width: 768px),
      screen and (device-width: 360px) /*nexus5 or any 1080x1920*/
             and (device-height: 640px)
             and (-webkit-device-pixel-ratio: 3),
      screen and (device-width: 360px) /*s3*/
             and (device-height: 640px)
             and (-webkit-device-pixel-ratio: 2),
      screen and (device-width: 375px) /*ip6*/
             and (device-height: 667px)
             and (-webkit-device-pixel-ratio: 2),
      screen and (device-width: 414px) /*ip6+*/
             and (device-height: 736px)
             and (-webkit-device-pixel-ratio: 3),
      screen and (device-width: 320px) /*ip5*/
             and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2),
      screen and (device-width: 320px) /*ip4*/
             and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2){
  #wrap {
    width: 100%;
  }
  .header {
    text-align: center;
  }
  .grayscale img
  {
    display: inline-block;
    vertical-align: middle;
    left: auto;
    right: auto;
    width: 128px;
    padding: 30px;
  }
  #navPanel{
    clear: all;
    width: 95%;
    height: auto;
    font-size: 28px;
  }
  #profileImg {
    float: left;
    height: 64px;
    width: 64px;
    padding: 1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }

  #navRoutes {
    padding-top: 12px;
  }
  .mobRight {
    float: right;
  }

  .navLink {
    padding-right: 10px;
  }

  .header {
    padding-left: 0px;
  }

  #selDiv {
    width: 30%;
    margin:0 auto;
  }
}
@media (max-width: 767px) {
    #selDiv {
    width: 50%;
  }
}
@media (max-width: 615px) {
    #selDiv {
    width: 60%;
  }
}
@media (max-width: 530px) {
    #selDiv {
    width: 70%;
  }
}
@media (max-width: 476px) {
    #selDiv {
    width: 80%;
  }
}
@media (max-width: 440px) {
    #selDiv {
    width: 100%;
  }
}
