<script type="text/javascript">
  $(function() {
    $("#there").hover(function(){
      $("#name").addClass('animated bounce');
    },function(){
      $("#name").removeClass('animated bounce');
    });
  });
</script>

<div id="name" class="lightGradient header">Peter Meehan</div>

<div>
	<p>Hello. My name is up <span id="there" style="border-bottom: 1px solid #aaa;">there</span>.</p>
  <p>Click some things on the left.</p>
  <p>I'll put something interesting here at a later date...</p>
</div>