<script type="text/javascript">
  $(function() {
    $("#there").hover(function(){
      $("#name").addClass('animated bounce');
    },function(){
      $("#name").removeClass('animated bounce');
    });
  });
</script>
<div id="name" class="lightGradient header">Peter Meehan</div><br>
Howdy, my name is up <span id="there" style="border-bottom: 1px solid #aaa;">there</span>, come get to know me, click some things on the left.
<br><br>
I'll put something interesting here at a later date...
<br>

