<div class="lightGradient header">Links to things</div>

<div>
	Want to contact me? Want to read some of the things I've written? Feel free<br>
	Things I use:
</div>

<div class="grayscale">
  <a target="_blank" href="https://twitter.com/22a">
    <img src="/assets/img/social/twitter.png" />
  </a>
  <a target="_blank" href="https://github.com/22a">
    <img src="/assets/img/social/blue_github.png" />
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/meehanp2">
    <img src="/assets/img/social/linkedin.png" />
  </a>
  <a target="_blank" href="https://instagram.com/p22a/">
    <img src="/assets/img/social/instagram.png" />
  </a>
</div>

<div style="clear: left;">
  Things I don't use: Windeos
</div>
