<div class="lightGradient header">Links to things</div>

<div>
	Things I use:
</div>

<div class="grayscale">
  <a target="_blank" href="https://twitter.com/22a">
    <img src="/assets/img/social/twitter.png" />
  </a>
  <a target="_blank" href="https://github.com/22a">
    <img src="/assets/img/social/github_rev2.png" />
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/meehanp2">
    <img src="/assets/img/social/linkedin.png" />
  </a>
  <a target="_blank" href="https://instagram.com/p22a/">
    <img src="/assets/img/social/instagram.png" />
  </a>
  <a href="http://www.google.com/recaptcha/mailhide/d?k=01Pux7Yx6WDZkI-CN9Q5UZ5g==&amp;c=Lge0h26sXanDC3FPxEDDnQ==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Pux7Yx6WDZkI-CN9Q5UZ5g\75\75\46c\75Lge0h26sXanDC3FPxEDDnQ\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal my super secret email"><img src="/assets/img/social/email.png" /></a>
</div>


<div style="clear: left;">
  Things I don't use: Windeos
</div>
